<header>
  <div class="bg-purple d-flex p-4">
    <div class="ml-auto w-25 d-flex justify-content-between align-items-center">
      <label class="text-bluewhite text-small text-lighter">14 Mar 2017</label>
      <img src="../../assets/images/theme-icon.PNG" height="20px" width="20px">
      <label class="text-bluewhite text-small text-lighter">Vijay Prakash</label>
      <img src="../../assets/images/sample-profile-pic.jpg" class="rounded-circle"  height="30px" width="30px">
    </div>
  </div>
  <div class="navbar-container border-bottom">
    <div class="nav">
      <label class="nav-item">home</label>
      <label class="nav-item">categories</label>
      <label class="nav-item">users</label>
    </div>
  </div>
</header>
